# Xojo (formerly REALbasic and Real Studio) 2020 r1
# Visual Studio 2019 C#

*.xojo_binary_project linguist-language=xojo
*.xojo_xml_project linguist-language=xojo
*.sln linguist-language=C#
*.cs linguist-language=C#
